option_settings:
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    HealthCheckInterval: 30
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
    Port: 80
    Protocol: HTTP
    DeregistrationDelay: 20
    InstancePort: 80
    InstanceProtocol: HTTP
    MatcherHTTPCode: "200"
    StickinessEnabled: true
    StickinessLBCookieDuration: 86400
    StickinessType: lb_cookie

  aws:elasticbeanstalk:environment:process:https:
    Port: 443
    Protocol: HTTPS
    InstancePort: 80
    InstanceProtocol: HTTP
    StickinessEnabled: true
    StickinessLBCookieDuration: 86400

  aws:elasticbeanstalk:listener:default:
    Protocol: HTTP
    InstancePort: 80

  aws:elasticbeanstalk:listener:443:
    Protocol: HTTPS
    InstancePort: 80
    PolicyNames: AWSDefaultCertPolicy
    SSLCertificateArns: "arn:aws:acm:us-east-1:ACCOUNT-ID:certificate/CERTIFICATE-ID"
